language: cpp

os:
  - linux
  - osx

sudo: required
dist: trusty
addons:
  apt:
    packages:
    - sqlite3
    - libboost-dev

compiler:
  - clang
  - gcc

env:
  - CONFIG=Release
  #- CONFIG=Debug

notifications:
 email:
   on_success: change
   on_failure: always

install:
  - g++ --version
  - cmake --version

before_script:
   - mkdir build
   - cd build
   - if [[ "$CXX" = "g++" && "$CONFIG" = "Debug" && "$TRAVIS_OS_NAME" = "linux" ]]; then export CXXFLAGS="--coverage"; fi
   - cmake .. -DCMAKE_BUILD_TYPE=$CONFIG

script:
   - cmake --build . --config $CONFIG
   - ctest --output-on-failure

after_script:
  - ../coveralls
